@model CrudWebE.Models.AddEmployees

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Add Employee</h1>
<form method="post" action="AddE" class = "mt-5">
  
    <div class="form-group">
    <label for="">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for = "Name">
  </div>
    <div class="form-group">
    <label for="">Email</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for = "Email">
  </div>
    <div class="form-group">
    <label for="">Date Of Birth</label>
    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for = "DateofBirth">
  </div>
    <div class="form-group">
    <label for="">Salary</label>
    <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for = "Salary">
  </div>
    <div class="form-group">
    <label for="">Department</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" asp-for = "Department">
  </div>

 <div>  <button type="submit" class="btn btn-primary" >Submit</button></div>

</form>